@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --font-inter: "Inter", sans-serif;
}

body {
  font-family: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

bg-light {
  background-color: #f9fafb;
}

bg-dark {
  background-color: #0f172a;
}

text-light {
  color: black;
}

text-dark {
  color: white;
}

/* Primary Colors */
bg-light-primary {
  background-color: #2563eb;
}

bg-dark-primary {
  background-color: #3b82f6;
}

text-light-primary {
  color: #2563eb;
}

text-dark-primary {
  color: #3b82f6;
}

text-primary {
  color: #0e183d;
}
